{{!< default}}


<main class="content" role="main">

    {{#each category}}
    <article id="category_{{id}}" class="post">
        <header id="{{id}}" class="post-header">
            <h2 class="post-title"><a class="post-title title-link" href="#{{id}}">{{id}}</a></h2>
        </header>
        <section class="post-full">
        {{#each ref}}
            <a id="ref_{{id}}" href="{{uri}}" data-class="{{type}}">{{id}}</a>
        {{/each}}
        </section>
    </article>
    {{/each}}


{{!! After all the posts, we have the previous/next pagination links }}


</main>
